 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>TimeOut</title>	
 </head>
 <body ng-app="myApp" ng-controller="timeOutController as vm" ng-strict-di>
 <button  ng-click="vm.continuar()">Continuar</button>
 	<button  ng-click="vm.salir()">Salir</button>
 	<p ng-bind="'quedan: ' + tiempo + ' segundos de sesion.'"><\p>
 	<script src="bower_components/angular/angular.js"></script>
 	<script src="js/app.js"></script>	
 	<!-- <script src="js/Controllers/TimeOutCtrl.js"></script> -->
 	<script src="js/Controllers/TimeOut2Ctrl.js"></script>
 </body>
 </html>


