<!-- Se expone el controlador myCtrl como objeto saludoCtlr, tener en cuenta que perdemos la herencia ya que no estaremos accediendo a propiedades del $scope sino del objeto que exponemos en el controlador. Otro punto a tener en cuenta es que al no usar el $scope para unir el controlador con la vista, se pierde
la posibilidad de utilizar las demás bondades que brinda el objeto $scope en sí. 
nota: Como se puede ver, ahora al controller no se le inyecta el servicio $scope, esto se llama función anónima-->
	<!DOCTYPE html>
	<html ng-app="myApp">
	<head>
	<meta charset="UTF-8">
	<title ng-bind="titulo"></title> 
</head>
	<body>

		<p>Try to change the names.</p>

		<div ng-controller="myCtrl as saludoCtrl">

			First Name: <input type="text" ng-model="saludoCtrl.firstName"><br>
			Last Name: <input type="text" ng-model="saludoCtrl.lastName"><br>
			<br>
			Full Name: {{saludoCtrl.firstName + " " + saludoCtrl.lastName}}
			<p ng-bind="saludoCtrl.firstName +' '+ saludoCtrl.lastName"></p>

		</div>
		<script src="bower_components/angular/angular.js"></script>		
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function() {
				this.firstName= "Andres";
				this.lastName= "Mirabal";
				this.titulo= "un titulo";
			});
		</script>

	</body>
	</html>